@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

* {
    padding:0;
    margin:0;
    font-family:"Syne", sans-serif;
    box-sizing:border-box;
}

a{
    text-decoration: none;
}

button {
    border:none;
    outline:none;
    background:transparent;
    cursor:pointer;
}

.navbar-container {
    position:fixed;
    top:0;
    left:0;
    background-color: #fff;
    z-index:999;
    width:100%;
    z-index:999999;
}

.navbar-content {
    max-width:1150px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1.5rem 0;
}

#hamburger-menu {
    display:none;
}

.main-logo {
    color:hsl(var(--hue), 24%, 16%);
    font-weight:600;
}

.links-container {
    display: flex;
    align-items: center;
    column-gap:2rem;
}

.contact-navbar-button {
    padding:0.85rem 1.2rem;
    border-radius: 6px;
    color:#fff;
    font-weight: 600;
    font-size:0.85rem;
    background-color: hsl(255, 90%, 60%);
    
}

.navbar-links {
    display:flex;
    align-items: center;
    list-style-type: none;
    column-gap:1.8rem;
}

.navbar-links li a {
  color:hsl(var(--hue), 24%, 16%);
  font-weight: 600;
  font-size:0.92rem;
}

.navbar-links li a.active{
    color:#6b3df5;
}

.contact-container {
    max-width:660px;
    width:100%;
    flex-direction: column;
    min-height:100vh;
    display:flex;
    justify-content: center;
    margin:0 auto;
    row-gap:2rem;
    padding:6rem 0;
}

.form-contact {
    width:100%;
    display: flex;
    flex-direction: column;
    row-gap:0.5rem;
}

.form-item {
    display:flex;
    flex-direction: column;
    row-gap:0.5rem;
}

.form-item input,
.form-item textarea {
    border-radius:6px;
    outline:none;
    padding:0.6rem;
    border:solid 1px #bdc3c7;
}

.form-item textarea {
    resize:none;
    height:130px;
}

.submit-button-form {
    width:100%;
    padding:0.7rem;
    border-radius:6px;
    background-color: hsl(255, 90%, 60%);
    color:#fff;
    margin-top:1.2rem;
    font-weight:600;
}

.form-group {
    display:flex;
    column-gap:1rem;
}

.form-group .form-item {
    flex:1;
}

.footer-container{
    background-color: #ecf0f1;
    padding:2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap:1rem;
}

.footer-content h5 {
    font-size:0.9rem;
    color:#7f8c8d;

}

@media screen and (max-width:660px) {
    .navbar-container {
        padding:0 1.5rem;
    }

    .links-container {
        width: 65%;
        height:100vh;
        background-color: #fff;
        position:fixed;
        top:0;
        left:-100%;
        transition:all 0.3s ease-in;
        flex-direction: column;
        align-items: flex-start;
        padding:1.5rem;
        row-gap:1.5rem;
    }

    .links-container.active {
        left:0;
    }

    .navbar-links {
        flex-direction: column;
        align-items: flex-start;
        row-gap:1rem;
    }

    #hamburger-menu{
        display:block;
        font-size:1.2rem;
    }

    .contact-container {
        padding:6rem 1.5rem;
    }

}